<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="ServerPort" value="9001"/>
    <add key="ServerIP" value="192.168.5.101"/>
    <add key="LocalPort" value="888"/>
    <add key="LocalIP" value="192.168.5.101"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="DLL"/>
    </assemblyBinding>
  </runtime>
</configuration>
